################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/haarcascade_frontalface_default.xml
